In [2]:
from IPython.display import HTML
HTML('''
    <style> body {font-family: "Roboto Condensed Light", "Roboto Condensed";} h2 {padding: 10px 12px; background-color: #E64626; position: static; color: #ffffff; font-size: 40px;} .text_cell_render p { font-size: 15px; } .text_cell_render h1 { font-size: 30px; } h1 {padding: 10px 12px; background-color: #E64626; color: #ffffff; font-size: 40px;} .text_cell_render h3 { padding: 10px 12px; background-color: #0148A4; position: static; color: #ffffff; font-size: 20px;} h4:before{ 
    content: "@"; font-family:"Wingdings"; font-style:regular; margin-right: 4px;} .text_cell_render h4 {padding: 8px; font-family: "Roboto Condensed Light"; position: static; font-style: italic; background-color: #FFB800; color: #ffffff; font-size: 18px; text-align: center; border-radius: 5px;}input[type=submit] {background-color: #E64626; border: solid; border-color: #734036; color: white; padding: 8px 16px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 20px;}</style>
''')

# ðŸ‘¥ Group Information

<p><strong>Code Language:</strong> <span style="font-size:18px;">Python</span></p>

<table style="font-size:18px;">
  <tr>
    <th>Name</th>
    <th>SID</th>
  </tr>
  <tr>
    <td>Ngoc Minh Dao</td>
    <td>520577590</td>
  </tr>
  <tr>
    <td>Manh Duc Nguyen</td>
    <td>520561337</td>
  </tr>
</table>

# Sydney Public Transport Analysis

### Import necessary libraries

In [7]:
# Imports for spatial data
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import time
import numpy as np
from shapely.geometry import Point, Polygon, MultiPolygon
from geoalchemy2 import Geometry, WKTElement

# Imports for pgadmin
from sqlalchemy import create_engine, text
import psycopg2
import psycopg2.extras
import json
from sqlalchemy import text

### Connect to pgAdmin

In [9]:
credentials = "Credentials.json"

def pgconnect(credential_filepath, db_schema="public"):
    with open(credential_filepath) as f:
        db_conn_dict = json.load(f)
        host       = db_conn_dict['host']
        db_user    = db_conn_dict['user']
        db_pw      = db_conn_dict['password']
        default_db = db_conn_dict['user']
        port       = db_conn_dict['port']
        try:
            db = create_engine(f'postgresql+psycopg2://{db_user}:{db_pw}@{host}:{port}/{default_db}', echo=False)
            conn = db.connect()
            print('Connected successfully.')
        except Exception as e:
            print("Unable to connect to the database.")
            print(e)
            db, conn = None, None
        return db,conn

def query(conn, sqlcmd, args=None, df=True):
    result = pd.DataFrame() if df else None
    try:
        if df:
            result = pd.read_sql_query(sqlcmd, conn, params=args)
        else:
            result = conn.execute(text(sqlcmd), args).fetchall()
            result = result[0] if len(result) == 1 else result
    except Exception as e:
        print("Error encountered: ", e, sep='\n')
    return result

In [10]:
db, conn = pgconnect(credentials)

Connected successfully.

### SRID Setup

In [12]:
srid = 4326

In [13]:
def create_wkt_element(geom, srid):
    if geom.geom_type == 'Polygon':
        geom = MultiPolygon([geom])
    return WKTElement(geom.wkt, srid)

## Task 1: Import and Clean datasets

### 1.1 Load + clean Sydney Trains data

#### 1.1.1 Load data

In [17]:
# Load the file
trains = gpd.read_file("SydneyTrainRoutes/sydneytrains/SydneyTrains.shp")
print(trains.columns)
# trains.head(5)

Index(['objectid', 'shape_id', 'route_id', 'agency_id', 'route_shor',
       'route_long', 'route_desc', 'route_type', 'route_colo', 'route_text',
       'exact_time', 'route_ty00', 'st_length(', 'geometry'],
      dtype='object')

In [18]:
# Find all the Sydney trains
sydney_trains = trains[trains["agency_id"].str.startswith("Sydney")]
# sydney_trains.head(5)

In [19]:
# Check data types
sydney_trains.dtypes

objectid         int64
shape_id        object
route_id        object
agency_id       object
route_shor      object
route_long      object
route_desc      object
route_type      object
route_colo      object
route_text      object
exact_time      object
route_ty00      object
st_length(     float64
geometry      geometry
dtype: object

#### 1.1.2 SRID Transformation

In [21]:
sydney_trains = sydney_trains.copy()  # creating a copy of the original for later
sydney_trains['geom'] = sydney_trains['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
sydney_trains = sydney_trains.drop(columns="geometry")  # deleting the old copy
# sydney_trains.head(5)

In [22]:
# Check for missing values 
null_val = sydney_trains.isnull().sum()
print(f"Missing values per column:\n{null_val}")

Missing values per column:
objectid       0
shape_id       0
route_id       0
agency_id      0
route_shor     0
route_long     0
route_desc     0
route_type     0
route_colo     0
route_text     0
exact_time    54
route_ty00     0
st_length(     0
geom           0
dtype: int64

In [23]:
# For "exact_time", fill with "Unknown"
sydney_trains['exact_time'] = sydney_trains['exact_time'].fillna('Unknown')
# sydney_trains.head(5)

#### 1.1.3 Create table for query

In [ ]:
conn.execute(text("""
DROP TABLE IF EXISTS sydney_trains;
CREATE TABLE sydney_trains (
    objectid     INTEGER PRIMARY KEY,
    shape_id     VARCHAR(255),
    route_id     VARCHAR(255),
    agency_id    VARCHAR(255),
    route_shor   VARCHAR(255),
    route_long   VARCHAR(255),
    route_desc   VARCHAR(255),
    route_type   VARCHAR(255),
    route_colo   VARCHAR(255),
    route_text   VARCHAR(255),
    exact_time   VARCHAR(255),
    route_ty00   VARCHAR(255),
    st_length    DOUBLE PRECISION,
    geom         GEOMETRY(LINESTRING, 4326)
);
"""))

In [ ]:
sydney_trains.to_sql(
    'sydney_trains', conn, if_exists='append', index=False, dtype={'geom': Geometry('LINESTRING', srid)}
)

In [ ]:
# -- Create a spatial index on the 'geom' column for efficient spatial queries
conn.execute(text("""
CREATE INDEX idx_geom ON sydney_trains USING GIST (geom);
"""))

In [ ]:
query(conn, "SELECT * FROM sydney_trains LIMIT 5;")

### 1.2 Load + clean Train Station Entrance Locations data

#### 1.2.1 Load data

In [ ]:
# Load the file
entrance_loc = pd.read_csv("TrainStationEntranceLocations/stationentrances2020_v4.csv")
entrance_loc.columns = [col.lower() for col in entrance_loc.columns]
print(entrance_loc.columns)

In [ ]:
# Check data types
entrance_loc.dtypes

In [ ]:
# Check for missing values 
null_val = entrance_loc.isnull().sum()
print(f"Missing values per column:\n{null_val}")

In [ ]:
# For Street_Type, fill with "Unknown"
entrance_loc['Street_Type'] = entrance_loc['Street_Type'].fillna('Unknown')
# For Exit_Number, assuming missing = 0 exits
entrance_loc['Exit_Number'] = entrance_loc['Exit_Number'].fillna(0).astype(int)
entrance_loc.head(5)

In [ ]:
entrance_loc['geom'] = gpd.points_from_xy(entrance_loc.LONG, entrance_loc.LAT)      # creating the geometry column
entrance_loc = entrance_loc.drop(columns = ['LONG', 'LAT'])        # removing the old latitude/longitude fields
entrance_loc.head(5)

#### 1.2.2 SRID Transformation

In [ ]:
entrance_loc['geom'] = entrance_loc['geom'].apply(lambda x: WKTElement(x.wkt, srid=srid))
entrance_loc.dtypes

#### 1.2.3 Create table for query

In [ ]:
conn.execute(text("""
DROP TABLE IF EXISTS train_entrance;
CREATE TABLE train_entrance (
    train_station  VARCHAR(255),
    street_name    VARCHAR(255),
    street_type    VARCHAR(255),
    entrance_type  VARCHAR(255),
    exit_number    INTEGER,
    geom           GEOMETRY(POINT, 4326)
);
"""))

In [ ]:
train_entrance.to_sql('train_entrance', conn, if_exists='append', index=False, dtype={'geom': Geometry('POINT', srid)})

In [ ]:
# Create an index on the 'geom' column
conn.execute(text("""
CREATE INDEX idx_entrance_geom ON train_entrance USING GIST(geom);
"""))

In [ ]:
query(conn, "SELECT * FROM train_entrance LIMIT 5;")

### 1.3 Load + clean Train Station Entries Exits data

#### 1.3.1 Load data

In [ ]:
# Load the file
entries_exit = pd.read_csv("TrainStationEntriesExits/train-station-entries-exits-data-may-2025.csv")
entries_exit.columns = [col.lower() for col in entries_exit.columns]
print(entries_exit.columns)

In [ ]:
# Check data types
entries_exit.dtypes

In [ ]:
# Convert MonthYear to date
entries_exit['year_month'] = pd.to_datetime(entries_exit['MonthYear'], format='%Y-%m', errors='coerce')
entries_exit.dtypes

In [ ]:
# Check for missing values 
null_val = entries_exit.isnull().sum()
print(f"Missing values per column:\n{null_val}")

#### 1.3.2 Create table for query

In [ ]:
conn.execute(text("""
DROP TABLE IF EXISTS train_entry_exit;
CREATE TABLE train_entry_exit (
    year_month    DATE,
    station       VARCHAR(255),
    station_type  VARCHAR(255),
    entry_exit    VARCHAR(50),
    trip_count    INTEGER
);
"""))

In [ ]:
train_entry_exit.to_sql("train_entry_exit", conn, if_exists='append', index=False)

In [ ]:
query(conn,"SELECT * FROM train_entry_exit LIMIT 5;")

### 1.4 Load + clean Opal Patronage data

#### 1.4.1 Load data

In [ ]:
import glob

# 1. Find all Opal_Patronage files
file_pattern = "OpalPatronage/Opal_Patronage_202*.txt"
file_list = glob.glob(file_pattern)
print(f"Found {len(file_list)} files:")
# for f in file_list:
#     print(" ", f)

# 2. Read, clean & trim empty columns in each file
dfs = []
for fname in file_list:
    df = pd.read_csv(
        fname,
        sep="|",
        # na_values=["<50"],        # convert "<50" to NaN
        parse_dates=["trip_origin_date"]
    )
    # Drop any column thatâ€™s entirely NaN in this file
    df = df.dropna(axis=1, how="all")
    dfs.append(df)

# 3. Concatenate into one DataFrame
if not dfs:
    raise FileNotFoundError(f"No files matched pattern: {file_pattern}")
full_df = pd.concat(dfs, ignore_index=True)

# 4. Inspect the result
print("\nCombined DataFrame shape:", full_df.shape)
display(full_df.head())

#### 1.4.2 Clean data

In [ ]:
# Impute '<50' as NaN, convert to numeric, then medianâ€impute
# Mark '<50' as missing
full_df['Tap_Ons']  = full_df['Tap_Ons'].replace('<50', pd.NA)
full_df['Tap_Offs'] = full_df['Tap_Offs'].replace('<50', pd.NA)

# Convert to numeric
full_df['Tap_Ons']  = pd.to_numeric(full_df['Tap_Ons'],  errors='coerce')
full_df['Tap_Offs'] = pd.to_numeric(full_df['Tap_Offs'], errors='coerce')

# Compute medians
med_on  = int(full_df['Tap_Ons'].median())
med_off = int(full_df['Tap_Offs'].median())

# Fill missing with medians
full_df['Tap_Ons']  = full_df['Tap_Ons'].fillna(med_on).astype(int)
full_df['Tap_Offs'] = full_df['Tap_Offs'].fillna(med_off).astype(int)

# Confirm no more missing
print("Missing Tap_Ons after imputation:", full_df['Tap_Ons'].isna().sum())
print("Missing Tap_Offs after imputation:", full_df['Tap_Offs'].isna().sum())

#### 1.4.3 Create table for query

In [ ]:
conn.execute(text("""
DROP TABLE IF EXISTS opal_patronage;
CREATE TABLE opal_patronage (
    trip_origin_date DATE,
    mode_name        VARCHAR(255),
    ti_region        VARCHAR(255),
    tap_hour         SMALLINT,
    tap_ons          INTEGER,
    tap_offs         INTEGER
);
"""))

In [ ]:
# Load the cleaned DataFrame into SQL
# Prepare DataFrame
to_sql_df = full_df[['trip_origin_date','mode_name','ti_region','tap_hour','Tap_Ons','Tap_Offs']].copy()
to_sql_df.columns = ['trip_origin_date','mode_name','ti_region','tap_hour','tap_ons','tap_offs']

In [ ]:
# Write to SQL
to_sql_df.to_sql("opal_patronage", conn, if_exists='append', index=False)

In [ ]:
query(conn,"SELECT * FROM opal_patronage LIMIT 5;")